h1 {
    color: blue;
    font-size: 24px;
    text-align: center;
}

h2 {
    color: green;
    font-size: 20px;
    text-align: left;
}

p {
    color: gray;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

